<p>Because ain't nobody got time for this.</p>
<p>Submit your Twitter handle and we'll find the dead weight you've been carrying around.</p>
<form action='user' method='get'>
	<input type="text" name="username" value="username">
  <button type='submit' class='btn btn-primary'>Find</button>
</form>